body, html, ul, li {
    padding: 0;
    margin: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
}

img {
    border: 0;
}

ul, li {
    list-style: none;
}

#box {
    position: relative;
    padding: 10px;
    border: 1px solid #999999;
    margin: 50px auto;
    width: 438px;
    height: 75px;
    border-raius: 10px;
}

#box ul {
    overflow: hidden;
    margin-left: -10px;
}

#box ul li {
    float: left;
    width: 100px;
    height: 75px;
    margin-left: 10px;
    border: 1px solid #ccc;
}

#box ul li img {
    display: block;
    width: 100%;
    height: 100%;
}

#mark {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 300px;
    border: 1px solid #666
}